<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <form action="/signup" method="post">
        <label for="name">User Name:</label>
        <input type="text" id="name" name="name" autocomplete="off"><br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email"autocomplete="off"><br>
        <label for="country">Country:</label>
        <select id="country" name="country" autocomplete="off">
            <option value="IE">Ireland</option>
            <option value="UK">United Kingdom</option> 
            <option value="ES">Spain</option>
            <option value="PT">Portugal</option>
            <option value="FR">France</option>
        </select><br>
        <label for="pword">Password:</label>
        <input type="text" id="pword" name="pword" autocomplete="off"><br>
        <label for="cpword">Confirm Password:</label>
        <input type="text" id="cpword" name="cpword" autocomplete="off"><br>
        <button type="submit">Signup</button>
    </form>
</body>
</html>